server:
  http_listen_port: 3200

distributor:
  receivers:
    otlp:
      protocols:
        http:
          endpoint: 0.0.0.0:4318

ingester:
  trace_idle_period: 10s
  max_block_duration: 5m

compactor:
  compaction:
    block_retention: 1h

storage:
  trace:
    backend: s3
    s3:
      bucket: tempo-data # 游대 Reemplaza por tu bucket real
      endpoint: 192.16.0.20:9000 # 游대 Reemplaza con la regi칩n correcta
      region: us-west-2
      access_key: admin
      secret_key: admin123
      insecure: true # 游대 Cambia a false si usas HTTP
