server:
  http_listen_port: 3200

distributor:
  receivers:
    otlp:
      protocols:
        http:

ingester:
  trace_idle_period: 10s
  max_block_duration: 5m

compactor:
  compaction:
    block_retention: 1h

storage:
  trace:
    backend: s3
    s3:
      bucket: tempo-traces-dev # 游대 Reemplaza por tu bucket real
      endpoint: s3.us-west-2.amazonaws.com # 游대 Reemplaza con la regi칩n correcta
      region: us-west-2
      # Si usas IAM Role en ECS, no incluyas estas l칤neas.
      # Si est치s local o en Docker Compose, puedes usar:
      access_key: ${S3_ACCESS_KEY}
      secret_key: ${S3_SECRET_KEY}
