auth_enabled: false
server:
  http_listen_port: 3100

common:
  path_prefix: /loki
  storage:
    s3:
      bucketnames: demo-looki-save-data
      endpoint: s3.us-west-2.amazonaws.com
      region: ${AWS_REGION}
  replication_factor: 1
  ring:
    kvstore:
      store: inmemory

schema_config:
  configs:
    - from: 2024-01-01
      store: boltdb-shipper
      object_store: s3
      schema: v11
      index:
        prefix: index_
        period: 24h

storage_config:
  boltdb_shipper:
    active_index_directory: /loki/index
    cache_location: /loki/cache
  aws:
    s3forcepathstyle: false

limits_config:
  retention_period: 24h
  allow_structured_metadata: true

table_manager:
  retention_deletes_enabled: true
  retention_period: 24h
